* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 150px;
    background:
        linear-gradient(to bottom,
            rgb(99, 0, 17) 0%,
            rgb(179, 37, 37) 25%,
            rgba(0, 0, 0, 0.8) 50%,
            rgba(0, 0, 0, 0.8) 75%,
            rgb(0, 0, 0, 1) 100%);
}

.main__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.main__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: rgb(71, 198, 207);
    border-radius: 10px;
}

.main__button_link {
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 15px;
    color: rgb(0, 0, 0, 1);
    transition: all 0.5s ease-in-out;
}

.main__button_link:hover {
    color: rgb(255, 255, 255, 1);
    background-color: rgb(0, 0, 0, 1);
    border-radius: 10px;
}

.main__logo {
    background-image: url(/background-logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 30vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__logo-text {
    color: white;
    font-size: 40px;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    font-style: italic;
    letter-spacing: 0.3em;
}