body {
  background: linear-gradient(
      to bottom,
      rgb(99, 0, 17) 0%,
      rgb(179, 37, 37) 25%,
      rgba(0, 0, 0, 0.8) 50%,
      rgba(0, 0, 0, 0.8) 75%,
      rgb(0, 0, 0, 1) 100%
    )
    no-repeat center center fixed;
  color: #ddd;
  font-family: monospace;
  padding: 20px;
  display: flex;
  gap: 20px;
}
.pane {
  width: 50%;
  background: #2d2d2d;
  padding: 16px;
  border-radius: 8px;
}
pre {
  margin: 0;
  overflow: auto;
}
#console-output {
  white-space: pre-wrap;
  color: #9f9;
  min-height: 120px;
}
.error {
  color: #ff8080;
}
button {
  margin-top: 10px;
}

.back {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.3em;
}

.back:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(45, 101, 221);
}
