html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.back {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.back:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  box-sizing: border-box;
  background: linear-gradient(
    to bottom,
    rgb(99, 0, 17) 0%,
    rgb(179, 37, 37) 25%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 75%,
    rgb(0, 0, 0, 1) 100%
  );
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.3em;
  font-size: 20px;
  user-select: none;
}

[contenteditable="true"]:focus {
  outline: none;
}

.calculator {
  background: rgba(0, 0, 0, 1);
  border-radius: 30px;
  display: grid;
  width: 25%;
  height: 90%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3fr repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
}

.calculator__scoreboard {
  color: white;
  grid-column: 1 / 5;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 5px 10px;
  overflow: hidden;
}

.calculator__button {
  background-color: rgb(75, 71, 71);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.calculator__button:hover {
  border: 1px solid white;
}

.calculator__button:last-child {
  grid-column: 3 / 5;
  background-color: rgb(228, 100, 35);
}

.button__text {
  color: white;
}

.orange {
  color: orange;
}
