* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.back , .clear {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.3em;
    cursor: pointer;
}

.back:hover, .clear:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

body {
    position: relative;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background:
        linear-gradient(to bottom,
            rgb(99, 0, 17) 0%,
            rgb(179, 37, 37) 25%,
            rgba(0, 0, 0, 0.8) 50%,
            rgba(0, 0, 0, 0.8) 75%,
            rgb(0, 0, 0, 1) 100%);
    gap: 30px;
}

/* -------------------To Do------------------ */

.main__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 500px;
    outline: none;
}

.main__button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 500px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.main__button:hover {
    background-color: #45a049;
}

.main__list {
    list-style-type: none;
    margin-top: 20px;
    width: 500px;
}

.main__list-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.item__buttons button {
    border: 1px solid black;
    cursor: pointer;
    height: 40px;
}

.button__complete {
    grid-column: 1 / 3;
    border-radius: 5px 5px 0 0;
    background-color: #5c5b5b;
}

.button__falled {
    border-radius: 0 5px 0 0;
    background-color: #f44336;
}

.button__edit {
    border-radius: 0 0 0 5px;
    background-color: #008CBA;
}

.button__delete {
    border-radius: 0 0 5px 0;
    background-color: #d00c2d;
}

.item__svg {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.complete__true {
    background-color: #4CAF50;
}

.item__complete {
    text-decoration: line-through;
    color: gray;
}

.edit__input {
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 70%;
    outline: none;
    margin: 15.8px 0;
}

.edit__save {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}