body {
  display: grid;
  justify-items: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgb(99, 0, 17) 0%,
    rgb(179, 37, 37) 25%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 75%,
    rgb(0, 0, 0, 1) 100%
  );
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

.back {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.3em;
}

.back:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.time {
  grid-column: 2 / 4;
  color: yellow;
  width: 400px;
  height: 100px;
  background-color: black;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: monospace;
  font-weight: bold;
  font-style: normal;
  border: 3px solid yellow;
  box-shadow: 0 0 0 10px black;
}

.one {
  grid-row: 2;
  color: red;
  width: 200px;
  height: 200px;
  background-color: blue;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: monospace;
  font-weight: bold;
  font-style: normal;
  border: 3px solid red;
  box-shadow: 0 0 0 10px black;
  transition: all 0.6s ease-in-out;
}

#button {
  grid-column: 2 / 3;
}

#buttonConsole {
  grid-column: 3 / 4;
}

.one:hover {
  transform: scale(1.2);
  color: white;
  border: 3px solid white;
  cursor: pointer;
  box-shadow: none;
}
